* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --cell-dim: min(450px, min(55vw, 70vh));
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgb(92, 183, 219);
    font-family: "Knewave", Helvetica, sans-serif;
    color: rgb(230, 245, 255);
}

.turn-display {
    margin-top: 1.5rem;
    margin-bottom: -2.5rem;
    font-size: 1.7rem;
    /* border: 1px solid black; */
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: rgb(33, 124, 189);
    box-shadow: 0 0 7px 2px rgba(55, 55, 55, 0.494);
}

.scoreboard {
    border-bottom: 3px solid black;
    box-shadow: 0 8px 10px -10px gray;
    height: 100px;
    width: var(--cell-dim);
    display: flex;
    justify-content: space-between;
}

.x-score, .o-score, .tie-score {
    /* border: 1px solid black; */
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(2.5rem, var(--cell-dim) / 10);
}
/* .o-score {
    justify-content: flex-end;
} */
.gameboard {
    width: var(--cell-dim);
    height: var(--cell-dim);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 4px;
}

.cell {
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(3rem, var(--cell-dim) / 10);
    transition: color 0.5s ease, background-color 0.75s ease-out, box-shadow ease; 
}

.win-cell {
    color: rgb(255, 255, 255);
    background-color: rgb(81, 174, 81);
    box-shadow: 0 0 7px 3px rgba(82, 171, 82, 0.614);
}

.restart {
    --restart-width: calc(var(--cell-dim) / 2.5);
    width: var(--restart-width);
    height: calc(var(--cell-dim) / 8);
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(33, 124, 189);
    color: rgb(230, 245, 255);
    font-size: min(1.4rem, var(--restart-width) / 10);
    box-shadow: 0 0 7px 3px rgba(97, 97, 97, 0.327);
}

.restart:hover {
    cursor: pointer;
    background-color: rgb(16, 62, 88);
}